

table {
    text-align: center;
    width: 95%;
    margin-top: 5%;
    align-self: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 17pt;

}


div.map{
    font-size: 25pt;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace, monospace;
}

div.center-text {
  text-align: center;
}

div.message {
    padding-top: 2%;
}

td.name {
    vertical-align: center;
    width: 57%;
    text-align: left;
}

td.stat {
    vertical-align: center;
    text-align: left;
}

td.co {
    vertical-align: center;
}

form.index {
    text-align: center;
}


div.title {
    text-align: center;
    font-size: 25pt;
    padding-top: 5%;
    padding-bottom: 10%;
    font-weight: bold;

}


main {
    margin: -0.5% 20%;
    border: solid #03A062 5pt;
    border-bottom: none;
    border-top: none;
    padding-bottom: 13%;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: black;
}

body {
    background-color: black;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 17pt;
    color: #03A062;
}

input {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 15pt;
    width: 40%;
    background: black;
    color: #03A062;
    border: none;
}

textarea:focus, input:focus{
    outline: none;
}

::placeholder {
  color: #03A062;
}

button {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 15pt;
    color: #03A062;
    background: black;
    border: none;
}

button:hover {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 15pt;
    color: black;
    background: #03A062;
    border: none;
}

a.but{

    display: block;
    color: #03A062;;
    font-family: 'Ubuntu Mono', monospace;
    /*letter-spacing: 1pt;*/
    font-style: normal;
    text-align: center;
    text-decoration: none;
    background: black;
    vertical-align: top;
}

a.but:hover{
    color: black;
    background: #03A062;
    border: none;
}

